<header class="strip header">
  <div class="header">
    <div class="header-title grid">
      <img src="assets/connected-title.png">
    </div>
    <div class="welcome-name grid">
      <p>Welcome, <span id="greeting-name"><%=  current_user.firstname.capitalize %></span> </p>
    </div>
    <div class="out grid">
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "log-out" %>
    </div>
  </div>
</header>

<div class="container">
    <div class="row" ng-controller="ContactListCtrl">
      <div class="col-md-4" style="background2:red;">

        <div>
           <button type="button" class="btn btn-default btn-lg btn-block" ng-repeat="contact in contacts" ng-click="select(contact)">
             {{contact.firstname}} {{contact.lastname}}
             <span class="btn x" ng-click="deleteContact(contact)"></span>
           </button>
        </div>

      </div>

      <div class="col-md-8" style="background2:blue;">
        <form ng-submit="saveContact()">
          <div class="page-header">
            <h1 ng-hide="adding">{{selectedContact.firstname}} {{selectedContact.lastname}}
              <span id="contact-icons">
                <img id="edit-icon" src="assets/edit.png">
                <img ng-click="deleteContact(contact)" id="delete-icon" src="assets/delete.png">
              </span>
            </h1>
            <h1 ng-show="adding">
              <input type="text" class="name-fields" maxlength="18" size="12" ng-model="addedContact.firstname" placeholder="First name" required>
              <input type="text" class="name-fields"  maxlength="18" size="12" ng-model="addedContact.lastname" placeholder="Last name" required>
              <!-- fields are not resetting they show previous inputs -->
            </h1>
          </div>
          <div id="profile">
            <img id="profile-pic" src="assets/default_photo.png">
            <img id="upload-icon" src="assets/upload.png">
          </div>
          <dl>
            <dt>Phone</dt>
            <dd ng-hide="adding">{{selectedContact.phone_cell}}</dd>
            <dd ng-show="adding">
              <input type="text" class="phone-field" maxlength="12" size="15" ng-model="addedContact.phone_cell" placeholder="123-456-7890" required>
              <!-- required is not working!!! -->
          </dl>

          <dl>
            <dt>Email</dt>
            <dd ng-hide="adding">{{selectedContact.email}}</dd>
            <dd ng-show="adding">
              <input type="text" class="email-field" maxlength="25" size="19" ng-model="addedContact.email" placeholder="hello@mail.com">
          </dl>

          <dl>
            <dt>Address</dt>
            <dd>
              <address ng-hide="adding">
                {{selectedContact.address}}
              </address>
            </dd>
            <dd ng-show="adding">
              <address ng-show="adding">
                <input type="text" id="address-field1" maxlength="30" size="20" placeholder="123 Main St">
                <input type="text" id="address-field2" maxlength="10" size="5" placeholder="Apt 1B"></br></br>
                <input type="text" id="address-field3" maxlength="30" size="20" placeholder="City">
                <input type="text" id="address-field4" maxlength="2" size="5" placeholder="State">
                <input type="text" id="address-field5" maxlength="5" size="5" placeholder="03283">
              </address>
          </dl>

          <div ng-hide="adding" ng-click="newContact()" class="bottom" id="top-icon">
            <img id="add-icon" src="assets/add.png">
          </div>

          <div ng-show="adding" class="bottom" id="other-icons">
            <div ng-click="saveContact()" id="left-icon">
              <img id="save-icon" src="assets/save.png">
            </div>
            <div ng-click="cancel()" id="right-icon">
              <img id="cancel-icon" src="assets/delete.png">
            </div>
          </div>
            <input type="submit" ng-show="adding" value="Save" >
            <button ng-show="adding" ng-click="cancel()">Cancel</button>
        </form>
      </div>

    </div>
  </div>
</div>
